<div class="m-5">
<h1>New Booking for <%= @gear.title.capitalize %></h1>

<%= simple_form_for ([@gear, @booking]) do |f| %>
  <%= f.input :start_date, input_html: { class: 'form-container' } %>
  <%= f.input :end_date, input_html: { class: 'form-container' } %>
  <br><br>
  <%= f.button :submit, class: 'btn btn-primary' %>
  <%#= f.submit 'Create Booking', class: 'btn btn-primary' %>
<% end %>
<br><br>
<%= link_to "See all bookings", bookings_path, class: 'btn btn-primary' %>
</div>
