<!--<h1>Create a booking</h1>

<%#= simple_form_for [@gear, @gear.bookings.new] do |f| %>-->
<%#= f.input :start_date %>
<%#= f.input :end_date %>
<%#= f.submit %>
<%# end %>

<div class="container">
<h1>New Booking for <%= @gear.title %></h1>

<%= simple_form_for [@gear, @booking] do |f| %>
  <%= f.input :start_date %>
  <%= f.input :end_date %>

  <%= f.submit 'Create Booking', class: 'btn btn-primary' %>
<% end %>


<%= link_to "See all bookings", gear_bookings_path %>
</div>
