<div class="sticky">
  <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
    <div class="container-fluid">

    <!--search bar-->
      <div class="row justify-content-center">
        <% if user_signed_in? %>

        <div class="col-sm-50 my-8">
          <%= form_with url: gears_path, method: :get, class: "search-form" do %>
            <div class="input-group">

              <%= text_field_tag :query,
                params[:query],
                class: "form-control search-input search-height",
                placeholder: "type a gear"
              %>

              <div class="input-group-append search-button submit">
                <%= submit_tag "Search", name: "", class: "btn btn-primary search-btn submit" %>
              </div>

            </div>
          <% end %>
        </div>
        <% end %>
      </div>



      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto">
          <% if user_signed_in? %>
            <li class="nav-item active">
              <%= link_to "Bookings", bookings_path, class: "nav-link booking" %>
            </li>

            <li class="nav-item dropdown">
              <a href="#" class="avatar" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <div class="navbar-brand">
                  <%= image_tag "scuba3.png", class: "image" %>
                </div>

              </a>

              <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <%= link_to "Home", gears_path, class: "dropdown-item" %>
                <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
              </div>

            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to "Login", new_user_session_path, class: "nav-link" %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>




<!--                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                  <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
                </svg>-->
