

<% if @gear.errors.any? %>
<div id="error_explanation">
 <h2><%= pluralize(@gear.errors.count, "error") %> prohibited this gear from being saved:</h2>
 <ul>
 <% @gear.errors.full_messages.each do |message| %>
  <li><%= message %></li> <% end %>
  </ul>
  </div>
  <% end %>

<div class="m-5">
  <h1>New Gear</h1>
  <%= simple_form_for @gear do |f| %>
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.input :price %>
    <%= f.button :submit, class: 'btn btn-primary' %>
  <% end %>
  <br><br>
  <%= link_to 'Back to gears', gears_path, class: 'btn btn-primary' %>
</div>
