<div class="background">
  <div class="gear-card">

    <div class="image">
      <%= cl_image_tag @gear.photo.key, height: 150, width: 200, crop: :fill, class: "gear-image" %>
    </div>

    <div class="info">
      <h1 class="title"><%= @gear.title.capitalize %></h1>

      <p>Description: <%= @gear.description.capitalize %></p>

      <p>Price: R
        <span data-controller="typed" data-typed-strings-value="<%= [@gear.price.to_s] %>">
          <%= @gear.price %>
        </span>
      </p>

      <br><br>

      <p class="bookings-title">Current Bookings:</p>
        <% @gear.bookings.each do |booking|  %>
        <%= booking.start_date %> - <%= booking.end_date %> -
        <%= link_to "Delete this Booking", booking_path(booking), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: 'btn btn-primary' %>
        <br><br>
      <% end %>
    </div>
  </div>
</div>

<div class="links">

  <%#= link_to 'Home Page', gears_path, class: 'btn btn-primary' %>

  <%= link_to 'Edit gear', edit_gear_path(@gear), class: 'btn btn-primary' %>

  <%= link_to "Add Booking", new_gear_booking_path(@gear), class: 'btn btn-primary'  %>

  <%= link_to "Delete this Gear", gear_path(@gear), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: 'btn btn-primary' %>

</div>
