<div class="gear-card">

  <div class="image">
    <%= cl_image_tag @gear.photo.key, height: 150, width: 200, crop: :fill, class: "image-gear" %>
  </div>

  <div class="info">
    <h1 class="title"><%= @gear.title.capitalize %></h1>

    <p>Description: <%= @gear.description.capitalize %></p>

    <p>Price: R
      <span data-controller="typed" data-typed-strings-value="<%= [@gear.price.to_s] %>">
        <%= @gear.price %>
      </span>
    </p>

    <br><br>

    <p class="bookings-title">Current Bookings:</p>
      <% @gear.bookings.each do |booking|  %>
      <%= booking.start_date %> - <%= booking.end_date %> -
      <%= link_to "Delete this Booking", booking_path(booking), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: 'btn btn-primary' %>
      <br><br>
    <% end %>
  </div>
</div>

<div class="links">

  <%#= link_to 'Home Page', gears_path, class: 'btn btn-primary' %>

  <%= link_to 'Edit gear', edit_gear_path(@gear), class: 'btn btn-primary' %>
<div data-controller="toggle">
<%# <%= link_to "Add Booking", new_gear_booking_path(@gear), class: 'btn btn-primary' data-action="click->toggle#fire"  %>
<button class="btn btn-primary" data-action="click->toggle#fire">Add Booking</button>
</div>

  <%= link_to "Delete this Gear", gear_path(@gear), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: 'btn btn-primary' %>

</div>
<div class="m-5 gearbody d-none" data-toggle-target="toggleable">
<h1>New Booking for <%= @gear.title.capitalize %></h1>
<%= simple_form_for([@gear, @booking]) do |f| %>
<%= f.input :start_date, input_html: { class: 'form-container' }, as: :string, input_html: { data: { controller: "datepicker" } } %>
<%= f.input :end_date, input_html: { class: 'form-container' }, as: :string, input_html: { data: { controller: "datepicker" } } %>
<br><br>
 <%= f.button :submit, class: 'btn btn-primary' %>
 <% end %> <br><br> </div>
